.button {
  border: solid 1px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  padding: 0.6em 1.2em;
  margin: 1rem 1em 0 0;
  justify-content: center;
  text-decoration: none;
  &:focus {
    outline: 0;
    text-decoration: underline;
  }
  &:last-child {
    margin-right: 0;
  }
  &--primary {
    background-color: #1976d2;
    border-color: #42a5f5;
    color: #fff;
    &:hover, &:focus {
      background-color: #1565c0;
    }
  }
}
