.nav {
  font-family: $font-accent;
  margin: 1rem 0;

  &__list {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0 1rem 0 0;
  }
}
